@model Model.User

@{
    ViewBag.Title = "VolunteerProfile";
    ViewBag.Message = "You currently have no events.";
}

<article>
    
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Location.Address)
                @Html.EditorFor(m => m.Location.Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Location.City)
                @Html.EditorFor(m => m.Location.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Creation)
                
            </td>
        </tr>

    </table>
    
    <p>Name1</p>
    <p>Etcetera</p>
<h4>Try any of the following:</h4>

    <a href="http://localhost:2601/User/VolunteerProfile">
        <span class ="header5">Find Suggestions</span>
    </a><br />
    <span class ="paragraph">Look for suggestions in our database.</span><br />

    <a href="http://localhost:2601/User/VolunteerProfile">
        <span class ="header5">Invites</span>
    </a><br />
    <span class ="paragraph">Check your inbox for invites to events.</span><br />

</article>

<aside>
    <h3>Search here</h3><br />
        <a href="http://www.google.com/">
            <span class ="header5">Search</span>
        </a>
    
    
    <br /><br />
    <form>
        <fieldset>
            <legend>Event Feed:</legend>
                @ViewBag.Message
        </fieldset>
    </form>
</aside>