@model IEnumerable<Model.Organization>

@{
    ViewBag.Title = "Organizations";
}

@if(ViewBag.Authenticated == true)
{
    <h1>Organizations</h1>
    <table>
    @foreach(var item in Model)
    { 
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation)
            </td>
            <td>
                @Html.ActionLink("Join", "JoinOrganization", new { id = item.Id })
                @Html.ActionLink("Details", "Organization", new { id = item.Id }) 
            </td>
        </tr>
    
    }
    </table>
}
@if(ViewBag.Authenticated == false)
{
    <h1>Organizations</h1>
    <table>
    @foreach(var item in Model)
    { 
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation)
            </td>
            <td>
                @Html.ActionLink("Details", "Organization", new { id = item.Id }) 
            </td>
        </tr>
    
    }
    </table>
}

