@model IEnumerable<Model.Organization>
@if (ViewBag.Authenticated == true)
{
    <div id="content">
    <h1>Organizations</h1>
    <table>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creation)
                </td>
                <td>
                    @Html.ActionLink("Join", "JoinOrganization", new { id = item.Id })
                    @Html.ActionLink("Details", "Organization", new { id = item.Id })
                </td>
            </tr>

        }
    </table>
    @section map
        {
        @if (Model.First().Location != null)
        {
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
            <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
            <link href="~/Map/map.css" rel="stylesheet" />
            foreach (var org in Model)
            {
                if (org.Location.City != null)
                {
                    <script type="text/javascript">setTimeout(function () { InsertMarker('@org.Location.GetAddress()', '@org.Location.GetAddress()', '@Html.ActionLink(org.Name, "organization", new { id = org.Id })'); }, 1000);</script>
                }
            }
        }
    }
    </div>
    <div id="map-canvas" />
}