<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<ul>
    @foreach (Model.VolunteerProject project in ViewBag.Projects)
    {
        <li>
            @project.Title
            @project.Time
<<<<<<< HEAD
            @*@project.Owner.Name*@
            @Html.ActionLink("details", "project", new { id = project.Id })
=======
            @*project.Owner.Name*@
>>>>>>> 21f85cffe5ffe120b7a07d00026eda27ba21c2fb
        </li>
    }
</ul>