@model IEnumerable<Model.VolunteerProject>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>listing</h2>
</hgroup>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                @Html.ActionLink("details", "project", new { id = item.Id })
            </td>
        </tr>
    }
</table>