<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Volunteer Organizator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("map", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Volunteer Organizator", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                if (ViewBag.IsAdmin != null)
                                {
                                    <li>@Html.ActionLink("Home", "Index", "Organization")</li>
                                    <li>@Html.ActionLink("Projects", "AllProjects", "Organization")</li>
                                    <li>@Html.ActionLink("Organizations", "Organizations", "Admin")</li>
                                    <li>@Html.ActionLink("Volunteers", "Volunteers", "Organization")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Home", "Index", "Volunteer")</li>
                                    <li>@Html.ActionLink("Projects", "Projects", "Volunteer")</li>
                                    <li>@Html.ActionLink("Organizations", "Organizations", "Volunteer")</li>
                                    <li>@Html.ActionLink("Volunteers", "Volunteers", "Volunteer")</li>
                                    <li>@Html.ActionLink("Profile", "Volunteer", new { id = 0 })</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                }
                             }   

                             @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
                             {
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                                <li>@Html.ActionLink("Organizations", "Organizations", "Home")</li>
                                <li>@Html.ActionLink("Volunteers", "Volunteers", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                             }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Aalborg University - Student Project</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
