@model IEnumerable<Model.VolunteerProject>

@{
    ViewBag.Title = "All";
}

@if (ViewBag.NotInOrganization == true)
{ 
    <p>You're not part of an organization yet, please go @Html.ActionLink("Here", "Index", "Admin")</p>
}
@if (ViewBag.NotInOrganization == false)
{
<div id="content">
<h2>All Projects</h2>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signup)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProject", new { id = item.Id })
            @Html.ActionLink("Cancel", "CancelProject", new { id = item.Id})
            @Html.ActionLink("Details", "DetailsProject", new { id = item.Id }) 
        </td>
    </tr>
}

</table>

@section map
        {
        @if (Model.First().Location != null)
        {
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
            <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
            <link href="~/Map/map.css" rel="stylesheet" />
            foreach (var project in Model)
            {
                if (project.Location.City != null)
                {
                    <script type="text/javascript">setTimeout(function () { InsertMarker('@project.Location.GetAddress()', '@project.Location.GetAddress()', '@Html.ActionLink(project.Title, "project", new { id = project.Id })'); }, 1000);</script>
                }
            }
        }
    }
</div>
<div id="map-canvas" />
}
