@model Model.VolunteerProject

@{
    ViewBag.Title = "DetailsProject";
}

<script src="@Url.Content("/social/facebookshare.js")" type="text/javascript"></script>

<h2>Details:</h2>
<div class="fb-share-button" data-href="http://www.knowlee.dk/Home/Project/@Model.Id" data-width="20" data-type="button_count"></div>

<div id="content">
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Owner)
        </td>
        <td>
            @Html.DisplayFor(model => model.Owner.Name)
        </td>
    </tr>
        <tr>
        <td>
            @Html.DisplayNameFor(model => model.Location.Address)
        </td>
        <td>
            @Html.DisplayFor(model => model.Location.Address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Location.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Location.City)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Time)
        </td>
        <td>
            @Html.DisplayFor(model => model.Time)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ProjectTopics)
        </td>
        <td>
            @if (Model.ProjectTopics.Church == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Church);
                <br />
            }
            @if (Model.ProjectTopics.Culture == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Culture);
                <br />
            }
            @if (Model.ProjectTopics.Festival == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Festival);
                <br />
            }
            @if (Model.ProjectTopics.Nature == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Nature);
                <br />
            }
            @if (Model.ProjectTopics.Political == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Political);
                <br />
            }
            @if (Model.ProjectTopics.Sport == true)
            {
                @Html.DisplayNameFor(model => model.ProjectTopics.Sport);
                <br />
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
        <tr>
        <td>
            @Html.DisplayNameFor(model => model.Signup)
        </td>
        <td>
            @Html.DisplayFor(model => model.Signup)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditProject", new { id = Model.Id })
        </td>
        <td>
            @Html.ActionLink("Back", "AllProjects")
        </td>
    </tr>
</table>

    @section map
        {
    @if (Model.Location != null)
    {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
        <link href="~/Map/map.css" rel="stylesheet" />
        <script type="text/javascript">setTimeout(function () { InsertMarker("@Model.Location.GetAddress()"); }, 1000);</script>
    }
}
    </div>
    <div id="map-canvas" />