@model Model.Organization

@{
    ViewBag.Title = "Index";
}

<h1>Organization Dashboard</h1>


<table border="1">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name):
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>        
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Creation):
        </td>
        <td>
            @Html.DisplayFor(model => model.Creation)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email):
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Location.Address):
        </td>
        <td>
            @Html.DisplayFor(model => model.Location.Address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Location.City):
        </td>
        <td>
            @Html.DisplayFor(model => model.Location.City)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit Organization", "Edit", "Admin", new { id = Model.Id })
        </td>
    </tr>
</table>

<table border="1">
    <h3>Current Active Projects:</h3>
    @if (ViewBag.projectNull)
    {
        <p>There's currently no projects associated with your organization.</p>
        
        @Html.ActionLink("Create new Project", "CreateProject", "Organization")
    }

    @if(!ViewBag.projectNull)
    {
        foreach(var item in Model.VolunteerProjects.OrderBy(v => v.Time).Take(10))
    { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProject", new { id = item.Id })
                @Html.ActionLink("Cancel", "CancelProject", new { id = item.Id})
                @Html.ActionLink("Details", "DetailsProject", new { id = item.Id }) 
            </td>
        </tr>
    
    }
    }
        <tr>
            <td>
                @Html.ActionLink("Show all Projects", "AllProjects", "Organization")
            </td>
            <td>
                @Html.ActionLink("Create new Project", "CreateProject", "Organization")
            </td>
        </tr>
    </table>





