@model Model.Admin

@{
    ViewBag.Title = "Index";
}

<h1>Organization Dashboard</h1>


<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Association.Name) |
            @Html.DisplayFor(model => model.Association.Name)
        </td>        
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Association.Creation) |
            @Html.DisplayFor(model => model.Association.Creation)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Association.Email) |
            @Html.DisplayFor(model => model.Association.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Association.Location.Address) |
            @Html.DisplayFor(model => model.Association.Location.Address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Location.City) |
            @Html.DisplayFor(model => model.Association.Location.City)
        </td>
    </tr>
 
</table>

<table>
    <h2>Currently Projects:</h2>
    @if (ViewBag.projectNull)
    {
        <p>There's currently no projects associated with your organization.</p>
        
        @Html.ActionLink("Create new Project", "CreateProject", "Organization")
    }

    @if(!ViewBag.projectNull)
    {
        foreach(var item in Model.Association.VolunteerProjects.OrderBy(v => v.Time).Take(10))
    { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProject")
                @Html.ActionLink("Cancel", "CancelProject")
                @Html.ActionLink("Details", "DetailsProject") 
            </td>
        </tr>
    
    }
    }
    </table>



