@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            @*@if (ViewBag.Authenticated)
               {
                    <p>Welcome user!</p>
               }
               else
               {*@
                   <p>Do you want to help out in volunteer projects in your community, yet are having trouble finding them?
                   Or are there so many projects to choose from that you can hardly pick among them? Are you
                   tired of always having to do the footwork for the chance to work? Or do you simply want to join a network  
                   of likeminded volunteers?<br />
                   This is what the Volunteer Organizator is all about. An easy to use network where the events are easily 
                   visible and are brought to your attention rather than requiring you to seek them out. 
                   Through your set preferences we will help find events recommended for your consideration.<br />
                   Are you ready to join volunteers the nation over at the forefront of a social engineering experiment 
                   to help YOU to find volunteer work near you?<br />
                   <br />
                   <a href ="http://localhost:2601/Account/Register">Register</a> your account or organization today.</p>
               
            <h2>The following are active projects</h2>
            @*@foreach (Model.VolunteerProject project in ViewBag.Projects)
            {*@
                <div class="volunteerproject">
                    @*<a>@project.Title</a>*@
                    @*<a>@project.Owner.Name</a>*@
                    @*<a>@project.Time</a>*@
                    @*@foreach (Model.Preference topic in project.Topics)
                    {
                        <a>@topic.ToString()</a>
                    }*@
                </div>
            @*}*@
        </div>
    </section>
}

<p>
    Look up <a href ="http://localhost:2601/Home/About">About</a> for more information about who we are and what this project is all about.
</p>