@model Model.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset style="float:left;">
        <hgroup class="title">
            <h2>@ViewBag.Title Volunteer</h2>
        </hgroup>
        <legend>Volunteer Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.IsAdmin)@Html.CheckBoxFor(m => m.IsAdmin, false)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
