@model Model.Organization
@if (Model != null)
{
    <hgroup class="title">
        <h1>@Model.Name</h1>
        <h2>@Model.Location</h2>
    </hgroup>
    <ul>
        @foreach (var project in Model.GetProjects())
        {
        <li>
            @Html.DisplayFor(modelItem => project.Title)
            @Html.DisplayFor(modelItem => project.Time)
            @Html.ActionLink("details", "project", new { id = project.Id })
        </li>
        }

    </ul>
}