@model Model.Organization
@if (Model != null)
{
    <div id="content">
        <hgroup class="title">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <h2>Details</h2>
        </hgroup>

        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Location.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Location.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Location.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Creation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Creation)
                </td>
            </tr>
        </table>
        <h3>@Html.DisplayNameFor(model => model.VolunteerProjects)</h3>
        <table>
            @foreach (var item in Model.VolunteerProjects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.ActionLink("details", "project", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>

        @section map
        {
    @if (Model.Location != null)
    {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
        <link href="~/Map/map.css" rel="stylesheet" />
        <script type="text/javascript">setTimeout(function () { InsertMarker("@Model.Location.GetAddress()"); }, 1000);</script>
    }
}
    </div>
    <div id="map-canvas" />
}
