@model IEnumerable<Model.VolunteerProject>

<div id="content">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h2>listing</h2>
    </hgroup>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Name)
                </td>
                <td>
                    @Html.ActionLink("details", "project", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    @section map
        {
        @if (Model.First().Location != null)
        {
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
            <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
            <link href="~/Map/map.css" rel="stylesheet" />
            foreach (var project in Model)
            {
                <script type="text/javascript">setTimeout(function () { InsertMarker("@project.Location.GetAddress()"); }, 1000);</script>
            }
        }
    }
</div>
<div id="map-canvas" />