@model Model.VolunteerProject

<div id="content">
    <hgroup class="title">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <h2>Details</h2>
    </hgroup>
    @if (Model.Signup)
    {
        @Html.ActionLink((string)ViewBag.Status, "JoinProject", new { id = Model.Id })
    }
    else
    {
        <strong>Not allowed to signup</strong>
    }

    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Owner)
            </td>
            <td>
                @Html.DisplayFor(model => model.Owner.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.Time)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectTopics)
            </td>
            <td>
                @if (Model.ProjectTopics.Church == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Church);
                    <br />
                }
                @if (Model.ProjectTopics.Culture == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Culture);
                    <br />
                }
                @if (Model.ProjectTopics.Festival == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Festival);
                    <br />
                }
                @if (Model.ProjectTopics.Nature == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Nature);
                    <br />
                }
                @if (Model.ProjectTopics.Political == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Political);
                    <br />
                }
                @if (Model.ProjectTopics.Sport == true)
                {
                    @Html.DisplayNameFor(model => model.ProjectTopics.Sport);
                    <br />
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    <h3>Participants</h3>
    @foreach (var match in Model.Matches)
    {
        @Html.ActionLink((string)ViewBag.Status, "JoinProject", new { id = Model.Id })
    }
    else
    {
    <strong>Not allowed to signup</strong>
    }
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Owner)
            </td>
            <td>
                @Html.DisplayFor(model => model.Owner.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.Time)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectTopics)
            </td>
            <td>
                @foreach (Model.Topic topic in Model.ProjectTopics)
                {
                    @topic.Name
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    <h3>Participants</h3>
    <table>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.Volunteer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Volunteer.Name)
                </td>
                <td>
                    @Html.ActionLink("details", "volunteer", new { id = match.Id })
                </td>
            </tr>
        }
    </table>

    @section map
        {
        @if (Model.Location != null)
        {
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
            <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
            <link href="~/Map/map.css" rel="stylesheet" />
            <script type="text/javascript">setTimeout(function () { InsertMarker("@Model.Location.GetAddress()"); }, 1000);</script>
        }
    }
</div>
<div id="map-canvas" />