@model Model.VolunteerProject

<script src="@Url.Content("/social/facebookshare.js")" type="text/javascript"></script>

<div id="content">
    <hgroup class="title">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="fb-share-button" data-href="http://www.knowlee.dk/Home/Project/@Model.Id" data-width="20" data-type="button_count"></div>
    </hgroup>
    @if (Model.Signup)
    {
        if (((string)ViewBag.Status).ToLower() == "leave")
        {
            @Html.ActionLink((string)ViewBag.Status, "LeaveProject", new { id = Model.Id })
        }
        else
        {
            @Html.ActionLink((string)ViewBag.Status, "JoinProject", new { id = Model.Id })
        }
    }
    else
    {
        <strong>Not allowed to signup</strong>
    }
    <h3>Details:</h3>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Owner)
            </td>
            <td>
                @Html.ActionLink(Model.Owner.Name, "organization", new { id = Model.Owner.Id })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.Time)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectTopics)
            </td>
            <td>
                @Model.ProjectTopics.Print()
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    <h3>Participants</h3>
    <table>
        @foreach (var match in Model.Matches)
        {
            if (match.Accepted == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => match.Volunteer.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.Volunteer.Name)
                    </td>
                    <td>
                        @Html.ActionLink("details", "volunteer", new { id = match.Volunteer.ID })
                    </td>
                </tr>
            }
        }
    </table>

    @section map
        {
        @if (Model.Location != null)
        {
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnSnrj-Vzj_6ZEeVpAFTtuuXOsXVRaO0&sensor=true"></script>
            <script type="text/javascript" src="@Url.Content("~/Map/map.js")"></script>
            <link href="~/Map/map.css" rel="stylesheet" />
            <script type="text/javascript">setTimeout(function () { InsertMarker("@Model.Location.GetAddress()"); }, 1000);</script>
        }
    }
</div>
<div id="map-canvas" />