@model Model.VolunteerProject
@if (Model != null)
{
    <h2>@Model.Title</h2>   
    <h3>@Model.Owner</h3>

    @Html.DisplayFor(modelItem => Model.Time)
    @*@Model.Location.Address @Model.Location.City*@
    @*<script>addMarker(@Model.Location.Address, @Model.Title)</script>*@
    
    <p>@Html.DisplayFor(modelItem => Model.Description)</p>
    if (Model.Topics != null)
    {
        foreach (Model.Preference topic in Model.Topics)
        {
                @Html.ActionLink(topic.ToString(), "projects")
        }
    }
}