@model Model.Volunteer


<h2>Index</h2>


    <fieldset>
        <legend>Profile</legend>

        
        <div class="view-field">
            
        </div>
        

        @Html.DisplayFor(m => m.Name)
        @Html.DisplayFor(m => m.Email)
        @Html.DisplayFor(m => m.Creation)
        @Html.DisplayFor(m => m.Location.Address)
        @Html.DisplayFor(m => m.Location.City)
        

    </fieldset>


<input id="Button1" type="button" value="button" name="Test" onclick="javascript: window.open('/Profile/Edit',
                                       'Customer Search',
                                       'height=' + (window.screen.height - 100) + ',width=200,left=' + (window.screen.width - 250) + ',top=10,status=no,toolbar=no,resizable=yes,scrollbars=yes');"/>